body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

.toolbar {
    background-color: rgba(255,255,255,0.1);
    border-radius: 1em;
    margin: 2em;
    padding: .5em .8em;
    position: fixed;
}
.toolbar li {
    display: inline;
    list-style: none;
}

.toolbar button,
.toolbar label[for="open"] {
    background-color: #333;
    border: .1rem solid #999;
    border-radius: 1rem;
    color: #EEE;
    font-size: .8em;
    width: 9rem;
}
.toolbar button:hover,
.toolbar label[for="open"]:hover {
    background-color: #222;
}
.toolbar button:active,
.toolbar label[for="open"]:active {
    background-color: #111;
    border-color: #777;
    color: #AAA;
}

.toolbar button.selected {
    background-color: #300;
    border: .1rem solid #900;
    border-radius: 1rem;
}
.toolbar button.selected:hover {
    background-color: #200;
}
.toolbar button.selected:active {
    background-color: #100;
    border-color: #700;
    color: #A00;
}

.toolbar label {
    color: #EEE;
    font-size: .8em;
    margin: 0 .5em;
}
.toolbar input {
    height: 1.2em;
    padding: .05em;
    vertical-align: middle;
}
.toolbar input[type="color"] {
    background-color: transparent;
    border: .1rem solid #999;
    border-radius: .2rem;
    height: 1em;
    padding: .05em;
    vertical-align: middle;
}
.toolbar input[type="range"] {
    appearance: none;
    background-color: #333;
    border: none;
    border-radius: .5em;
    height: .4em;
}
.toolbar input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: #333;
    border: .1em solid #999;
    border-radius: .5em;
    height: .8em;
    width: 1.8em;
}

.toolbar label[for="open"] {
    display: inline-block;
    text-align: center;
}
.toolbar input[type="file"] {
    display: none;
}