body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden; 
}

.toolbar {
    position: fixed;
    margin: 2em;
    padding: 0.5em 0.8em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
}
.toolbar li {
    display: inline;
    list-style: none;
}

.toolbar button {
    font-size: 0.8em;
    width: 9rem;
    color: #EEE;
    background-color: #333;
    border: 0.1rem solid #999;
    border-radius: 1rem;
}
.toolbar button:hover {
    background-color: #222
}
.toolbar button:active {
    color: #AAA;
    border-color: #777;
    background-color: #111;
}
.toolbar button.selected {
    background-color: #300;
    border: 0.1rem solid #900;
    border-radius: 1rem;
}
.toolbar button.selected:hover {
    background-color: #200
}
.toolbar button.selected:active {
    color: #A00;
    border-color: #700;
    background-color: #100;
}

.toolbar label {
    font-size: 0.8em;
    color: #EEE;
    margin: 0 0.5em;
}
.toolbar input {
    height: 1.2em;
    vertical-align: middle;
    padding: 0.05em;
}
.toolbar input[type="color"] {
    height: 1.0em;
    border: 0.1rem solid #999;
    background-color: transparent;
    vertical-align: middle;
    border-radius: 0.2rem;
    padding: 0.05em;
}
.toolbar input[type="range"] {
    appearance: none;
    height: 0.4em;
    border: none;
    background-color: #333;
    border-radius: 0.5em;
}
.toolbar input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.8em;
    height: 0.8em;
    background-color: #333;
    border: 0.1em solid #999;
    border-radius: 0.5em;
}